<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
    <div><strong style="color:slateblue; font-size: 25px">Welcome to Konspec</strong>
    {{!-- <br><img src="{{urls.logo}}" /> --}}
    </div>
    <br>
    <div>
     <strong>User Name: </strong>{{username}} <br>
    <strong>Password: </strong>{{password}}
    </div>
    </center>
</body>
</html>